.projects{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.projectsHeader{
    margin-bottom: 50px;
}

.projectsHeader h5{
    text-align: center      ;
    color: #FF0077;
    font-size: 1rem;
    line-height: 1.875;
    margin-bottom: 0.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-family: "poppins-bold", sans-serif;
    font-style: normal;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.projectsHeader h1{
    font-family: "poppins-semibold", sans-serif;
    font-size: 2.4rem;
    color: #313131;
    line-height: 1.05;
    display: block;
    margin-bottom: 1.2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -.05rem;
}

.projectsHeader p{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: "lora-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #888888;
    text-align: center;
}

.myprojects{
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}

.myprojectsContent{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.project{
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 15rem;
}

.project img {
    height: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.imgDescription{
    opacity: 0;
    position: absolute;
    inset: 0;
    padding: 1rem;
    background: rgba(255, 255, 255, -4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
}
.imgDescription h2{
    font-size: 20px;
    font-family: "poppins-semibold", sans-serif;
    text-align: center;
}

.imgDescription p{
    font-size: 15px;
    font-family: "poppins-semibold", sans-serif;
    color:#313131;
    font-weight: 500;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.imgDescription button{
    margin: 3px 10px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
    background: transparent;
    transition: 0.5s ease-in-out;
}

.imgDescription button:hover{
    color: white;
    background: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.project:hover img{
    opacity: 0.3;
    filter: blur(3px);
    transform: scale(1.1);
}

.project:hover .imgDescription{
    opacity: 1;
    transform: translateX(0%);
}

.projects a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-decoration: none;
    width: 170px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 2px solid black;
    background: transparent;
    transition: 0.5s ease-in-out;
    color: black;
}

.cv a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.projects a:hover{
    color: white;
    background: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


@media (max-width:899px) {
    .project{
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width:499px){
    .projects{
        width: 100%;
    }
    .project{
        margin: 10px auto;
    }
    .imgDescription h2{
        font-size: 20px;
    }
    
    .imgDescription p{
        font-size: 15px;
    }
    
    .imgDescription button{
        width: 150px;
        height: 30px;
    }
}


@media (max-width:383px){
    .imgDescription h2{
        font-size: 19px;
    }
    
    .imgDescription p{
        font-size: 13px;
    }
    
    .imgDescription button{
        width: 140px;
        height: 25px;
        margin: 5px;
    }
}

@media (max-width:339px){
    .imgDescription h2{
        font-size: 19px;
    }
    
    .imgDescription p{
        font-size: 13px;
    }
    
    .imgDescription button{
        width: 140px;
        height: 25px;
    }
}
